// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

[routerLink],
[ng-reflect-router-link] {
  cursor: pointer;
  outline: none;
}
