// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  font-size: 2.4rem;
  width: 20.3rem;
  background-color: $color-primary;
  border: 1px solid $color-main-grey;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
